$blue: #0095da;
$grey-e0: #e0e0e0;
$disabled-grey-text: #9f9f9f;
$silver: #f2f2f2;

body {
  margin: 0;
  padding: 0;
  border: 0;
  background: $silver;
  font-family: 'Source Sans Pro', sans-serif;
}

input {
  border: 1px solid $disabled-grey-text;
  text-shadow: 0 0 0 gray;
  color: $disabled-grey-text;
}

input[type="tel"] {
  outline: none;
  height: 20px;
  width: 200px;
  padding: 7px;
}

.home {
  height: 100vh;
}

.header-container {
  background-image: linear-gradient(to bottom, $blue,rgb(100,103,220));
  height: 300px;
  color: white;
  border-radius: 0px 0px 4px 4px;
  .header {
    padding: 18px;
    box-shadow: 0 0 16px -4px rgba(0, 0, 0, 0.12);
    text-align: center;
    &-title {
      font-weight: 600;
      text-align: center;
    }
  }
  .header-body {
    padding: 18px;
  }
}

.body {
  height: calc(100% - 344px);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.footer {
  background-color: white;
  height: 34px;
  width: calc(100% - 20px);
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  a {
    color: $blue;
    font-size: 14px;
  }
  a.disabled {
    color: $disabled-grey-text;
    pointer-events: none;
    cursor: none;
  }
}

.buttons-footer {
  justify-content: space-between;
}

.timer {
  color: $disabled-grey-text;
  float: right;
  padding: 10px 0px;
}

.otp-input {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  &__box {
    height: 40px;
    width: 30px;
  }
  input[type="text"] {
    text-align: center;
    font-size: 26px;
    color: transparent;
  }
  input[type="text"].filled-box {
    background-color: $grey-e0;
  }
}

.btn {
  height: 32px;
  width: 120px;
  font-size: 14px;
}

.blu-btn {
  background-color: $blue;
  border: unset;
  border-radius: 4px;
  color: white;
}

.large-btn {
  width: 100%;
}